{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ post.img_url }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">Posted by
                        <a href="#">{{ post.author.name }}</a>
                        on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.body|safe }}</p>

                <div class="d-flex justify-content-end mb-4 gap-4">
                    {% if user.is_authenticated and user.id == 1 %}

                    <a
                            class="btn btn-primary float-right"
                            href="{{url_for('edit_post', post_id=post.id)}}"
                    >Edit Post</a
                    >
                    <a
                            class="btn btn-danger float-right"
                            href="{{url_for('delete_post', post_id=post.id)}}"
                    >Delete</a
                    >
                    {% else %}
                    <a
                            class="btn btn-primary float-right"
                            href="{{url_for('get_all_posts')}}"
                    >Back</a
                    >

                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-10 mx-auto">
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='text') }}
            {{render_form(form, novalidate=True) }}
            <div class="comment">
                <ul class="commentList">
                    <!-- Show all comments -->
                    {% for comment in post.comments: %}
                    <li>
                        <div class="commenterImage">
                            <img
                                    src="{{ comment.author_comment.email | gravatar }}"
                            />
                        </div>
                        <div class="commentText">
                            <span class="sub-text">{{comment.author_comment.name}}</span>
                            <p>{{comment.text|safe}}</p>
                            {% if comment.author_comment.id == user.id and 'comment_id' not in request.args  %}
                            <div>
                                <a href="{{url_for('edit_comment',post_id=comment.post_id, comment_id=comment.id)}}"
                                >
                                    {{ edit_icon | safe }}
                                </a>
                                 <a href="{{url_for('delete_comment',post_id=comment.post_id, comment_id=comment.id)}}"
                                >
                                    {{ delete_icon | safe }}
                                </a>
                            </div>
                            {% endif %}
                            {% if 'comment_id' in request.args and comment.author_comment.id == user.id %}
                            <div class="modal-body">
                                {{ ckeditor.load() }}
                                {{ ckeditor.config(name='text') }}
                                {{render_form(edit_comment_form, novalidate=True) }}
                            </div>
                            {% endif %}

                        </div>


                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
</article>

{% include "footer.html" %}

{% endblock %}
